<nav class="sidebar-nav">
        <ul class="nav">
                <ng-template ngFor let-navitem [ngForOf]="navigation">
                        <!-- <li *ngIf="isDivider(navitem)" class="nav-divider"></li>
                       <ng-template [ngIf]="isTitle(navitem)">
                                <app-sidebar-nav-title [title]='navitem'></app-sidebar-nav-title>
                        </ng-template>
                        <ng-template [ngIf]="!isDivider(navitem)&&!isTitle(navitem)">
                                <app-sidebar-nav-item [item]='navitem'></app-sidebar-nav-item>
                        </ng-template>-->
                      <li> {{ navitem.name}}</li>
                </ng-template>
        </ul>
</nav>` {{ navigation |json}}
<!--<div class="sidebar">
        <app-sidebar-header></app-sidebar-header>
        <app-sidebar-form></app-sidebar-form>
        <app-sidebar-nav></app-sidebar-nav>
        <app-sidebar-footer></app-sidebar-footer>
        <app-sidebar-minimizer></app-sidebar-minimizer>
</div>-->