<div class="app-perfect-scrollbar">
        <perfect-scrollbar class="container" [config]="config" [usePSClass]="true">
                <div class="app-sidebar-header">
                        <div class="profile-img">
                                <img alt="user" src="/assets/images/users/profile.png">
                        </div>
                        <div class="profile-text">
                                Anonymus Doe
                        </div>
                </div>
                <mat-accordion [displayMode]="'flat'" [multi]="false" class="sidenav-mat-expansion">
                        <ng-template ngFor let-navitem [ngForOf]="navigation">
                                <ng-template [ngIf]="isTitle(navitem)">
                                        <!--   <mat-expansion-panel disabled="disabled" style="border:0; box-shadow:none">
                                                <mat-expansion-panel-header style="padding:0; margin:0;border:0; box-shadow:none;">
                                                        <div style="margin-left:22px;">{{navitem.name}}</div>
                                                </mat-expansion-panel-header>

                                        </mat-expansion-panel>-->
                                        <div style=height:30px;font-size:16px;color:gray;padding-left:27px;padding-top:22px;>
                                                {{navitem.name}}
                                        </div>
                                </ng-template>
                                <ng-template [ngIf]="isDivider(navitem)">
                                        <hr class="divider">
                               </ng-template>
                                <ng-template [ngIf]="!isDivider(navitem)&&!isTitle(navitem)&&hasChildren(navitem)" style="padding:0;margin:0;">
                                        <mat-expansion-panel style="border:0; box-shadow:none;">
                                                <!-- <mat-expansion-panel-header>
                                                        <mat-icon>{{navitem.icon}}</mat-icon>{{navitem.name}}
                                                </mat-expansion-panel-header> -->
                                                <mat-expansion-panel-header style="box-shadow:none;">

                                                        <div style="float:left; margin-top:5px;margin-left:-2px;">
                                                                <mat-icon>{{navitem.icon}}</mat-icon>
                                                        </div>
                                                        <div style="float:left; margin-top:10px; margin-left:5px;">
                                                                {{navitem.name}}
                                                        </div>

                                                </mat-expansion-panel-header>
                                                <ng-template style="padding:0;margin:0;" ngFor let-navchild [ngForOf]="navitem.children">
                                                        <a mat-button class="sidenav-child-link" href [routerLink]="[navchild.url]" [routerLinkActive]="['active-child-link','mat-elevation-z5']">
                                                                <div style="float:left; margin-top:10px;">

                                                                        <mat-icon>{{navchild.icon}}</mat-icon>
                                                                </div>
                                                                <div style="float:left; margin-top:5px; margin-left:5px;">
                                                                        {{navchild.name}}
                                                                </div>
                                                        </a>
                                                </ng-template>
                                        </mat-expansion-panel>
                                </ng-template>
                                <ng-template [ngIf]="!isDivider(navitem)&&!isTitle(navitem)&&!hasChildren(navitem)" style="padding:0;margin:0;">
                                        <!--   <mat-expansion-panel disabled style="box-shadow:none;">
                                                <mat-expansion-panel-header style="padding:0; margin:0;border:0; box-shadow:none;"> -->
                                        <div style="height:40px;font-size:16px;">
                                                <!--color:gray;padding-left:27px;padding-top:12px;>     -->
                                                <a mat-button class="sidenav-link" href [routerLink]="[navitem.url]" [routerLinkActive]="['active-link','mat-elevation-z5']">
                                                        <div style="float:left; margin-top:10px;">
                                                                <mat-icon>{{navitem.icon}}</mat-icon>
                                                        </div>
                                                        <div style="float:left; margin-top:5px; margin-left:5px;">
                                                                {{navitem.name}}
                                                        </div>
                                                </a>
                                                <!--</mat-expansion-panel-header>
                                        </mat-expansion-panel>-->
                                        </div>

                                </ng-template>
                        </ng-template>
                </mat-accordion>
                <div class="app-sidebar-footer">

                </div>
        </perfect-scrollbar>
</div>