
.app-container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding:0;
    border: 0px solid #555;
    padding-top:65px !important;
}

.app-sidenav{
    padding-top:65px !important;   
    height:calc(100vh-65px);
    overflow-x:hidden;
}
@media only screen and (max-width: 600px) {
    .app-sidenav{
        padding-top:56px !important;  
    }
}

.app-sidenav::after {
    content: "";
    background: url("./../assets/sidebar/sidebar-bg-2.png"); 
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.app-sidenav-normal{
    width:240px;
}
.app-sidenav-mini{
    width:62px;
}
.sidenav-footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background: rgba(0, 0, 0, 0.5);
}
.sidenav-footer-btn{
    // display:none;
    float:right;
    margin:5px;
    margin-right:13px
}

