/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~scss/ps.scss";
// perfect scrollbar


body{
    margin:0;
    padding:0;
}


.app-perfect-scrollbar .ps{
    .ps__rail-x {
        display: none !important;
    }
}
